.about_block
  position: relative
  overflow: hidden
  width: 100%
  height: 720px
  @media (max-width: 1580px)
    height: 700px
  @media (max-width: 1280px)
    height: 600px
  @media (max-width: 1120px)
    height: 470px
  @media (max-width: 980px)
    height: 420px
  @media (max-width: 780px)
    height: 400px
 
  @media (max-width: 680px)
    height: 1244px
  @media (max-width: 580px)
    height: 1000px
  @media (max-width: 480px)
    height: 810px
  .description_block
    position: relative
    color: white
    width: 625px
    height: 636px
    background-image: url(/src/images/photos/3.png)
    background-size: 625px 636px
    width: 50%
    height: 100%
    background-size: cover
    float: left
    z-index: 10

    &:after
      content: ""
      position: absolute
      width: 43px
      height: 100px
      background-image: url('/src/images/red-triangle-right.png')
      background-size: 43px 100px
      width: 1.54rem
      height: 3.57rem
      background-size: 100% 100%
      right: -1.5rem
      top: 50%
      margin-top: -4.29rem
    .text_block
      position: relative
      margin: 3.82rem 0 0 2.14rem
      span
        display: block
        font-family: GothamPro-Bold
        margin-left: 5.29rem
        font-size: 1.36rem
        line-height: 1.43rem
      span.mobile
        display: none
      p
        margin-top: 1.32rem
        font-size: .5rem
        line-height: .6rem
        width: 10.72rem
      p.mobile 
        display: none
      &:after
        position: absolute
        content: ""
        width: 243px
        height: 269px
        background-image: url(/src/images/photos/salt_pack.png)
        background-size: 243px 269px
        background-size: 100% 100%
        top: -1.5rem
        left: -.93rem
        width: 6rem
        height: 6.64rem
  
    .button 
      margin-top: .79rem
    @media (max-width: 680px) 
      top: 0
      width: 640px
      height: 640px
      background-image: url('/src/images/photos/3-mobile.png')
      background-size: 640px 640px
      width: 100%
      height: 50%
      background-size: 100% 100%
      float: none
      .text_block
        span 
          display: none
        span.mobile
          display: block
          margin-left: 4rem
          font-size: 3.55rem
          line-height: 3.75rem
        p
          display: none
        p.mobile
          display: block
          margin-top: 3.32rem
          font-size: 1.5rem
          line-height: 2.1rem
          width: 20rem
          margin-left: 4rem
        &
          position: static
          margin: 0
          padding-top: 4.5rem
        &:after 
          display: none
      .button
        position: absolute
        left: 50%
        bottom: 6rem
        margin-top: 0
        margin-left: -7rem
        width: 14rem
        height: 3.9rem
        background-color: rgba(255,245,159,.1)
  .image_block
    position: absolute
    top: 0
    right: 0
    height: 100%
    width: 50%
    overflow: hidden
    .image
      position: absolute
      width: 773px
      height: 790px
      background-image: url('/src/images/photos/4.jpg')
      background-size: 773px 790px
      background-size: cover
      width: auto
      height: auto
      top: -10%
      left: -10%
      bottom: -10%
      right: -10%
    @media (max-width: 680px)
      top: 50%
      width: 100%
      height: 50%
      overflow: visible
      .image
        top: -10%
        left: 0
        right: 0
        bottom: -10%
        width: 611px
        height: 720px
        background-image: url('/src/images/photos/4-mobile.jpg')
        background-size: 611px 720px
        background-size: cover
        width: auto
        height: auto