.left_animate
  animation-name: bounceInRight
  animation-duration: 1.5s
.right_animate
  animation-name: bounceInLeft
  animation-duration: 1.5s

.main_page .scroll_animate:hover .image_block .image
  transform: scale(1)
  transition: transform 10s linear
  @media (max-width: 680px)
    transform: none

.main_page .scroll_animate .image_block .image
  transform: scale(1.17)
  transition: transform 10s ease
  @media (max-width: 680px)
    transform: none
