html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

body
  position: relative
  width: 100%
  height: 100vh
  font-family: GothamPro
  line-height: 1
// html
//   font-size: 44px

@media (max-width: 680px)
  body
      height: auto

html
  font-size: 55px
  @media (max-width: 1848px)
    font-size: 54px
  @media (max-width: 1816px)
    font-size: 53px
  @media (max-width: 1784px)
    font-size: 52px
  @media (max-width: 1752px)
    font-size: 51px
  @media (max-width: 1720px)
    font-size: 50px
  @media (max-width: 1688px)
    font-size: 49px
  @media (max-width: 1656px)
    font-size: 48px
  @media (max-width: 1624px)
    font-size: 47px
  @media (max-width: 1592px)
    font-size: 46px
  @media (max-width: 1560px)
    font-size: 45px
  @media (max-width: 1528px)
    font-size: 44px
  @media (max-width: 1496px)
    font-size: 43px
  @media (max-width: 1464px)
    font-size: 42px
  @media (max-width: 1432px)
    font-size: 41px
  @media (max-width: 1400px)
    font-size: 40px
  @media (max-width: 1369px)
    font-size: 39px
  @media (max-width: 1338px)
    font-size: 38px
  @media (max-width: 1307px)
    font-size: 37px
  @media (max-width: 1276px)
    font-size: 36px
  @media (max-width: 1245px)
    font-size: 35px
  @media (max-width: 1213px)
    font-size: 34px
  @media (max-width: 1181px)
    font-size: 33px
  @media (max-width: 1149px)
    font-size: 32px
  @media (max-width: 1117px)
    font-size: 31px
  @media (max-width: 1085px)
    font-size: 30px
  @media (max-width: 1053px)
    font-size: 29px
  @media (max-width: 1030px)
    font-size: 28px
  @media (max-width: 998px)
    font-size: 27px
  @media (max-width: 966px)
    font-size: 26px
  @media (max-width: 934px)
    font-size: 25px
  @media (max-width: 902px)
    font-size: 24px
  @media (max-width: 870px)
    font-size: 23px
  @media (max-width: 838px)
    font-size: 22px
  @media (max-width: 806px)
    font-size: 21px
  @media (max-width: 774px)
    font-size: 20px
  @media (max-width: 742px)
    font-size: 19px
  @media (max-width: 710px)
    font-size: 18px
  @media (max-width: 678px)
    font-size: 17px
  @media (max-width: 646px)
    font-size: 16px
  @media (max-width: 614px)
    font-size: 15px
  @media (max-width: 582px)
    font-size: 14px
  @media (max-width: 550px)
    font-size: 13px
  @media (max-width: 518px)
    font-size: 12px
  @media (max-width: 486px)
    font-size: 11px
  @media (max-width: 454px)
    font-size: 10px
  @media (max-width: 422px)
    font-size: 9px
  @media (max-width: 390px)
    font-size: 8px