.container
  position: relative
  max-width: 1920px
  min-width: 320px
  width: 100%
  height: 100%
  margin: 0 auto
  box-shadow: 0 0 40px 0 rgba(0,0,0,.5)
  @media (max-width: 680px)
    height: auto
    box-shadow: none
