.footer_container
  margin-top: -90px
  @media (max-width: 1400px) and (min-width:1024px)
    margin-top: -60px
  @media (max-width: 1024px) and (min-width: 680px)
    margin-top: -50px
  @media (max-width: 680px)
    margin-top: -42px
.footer_block
  position: relative
  width: 100%
  height: 90px
  background-color: #3c3c3c
  overflow: hidden
  .logo
    width: 69px
    height: 89px
    background-image: url('/src/images/logo-mini.jpg')
    background-size: 69px 89px
    float: left
    margin-left: 21px
    @media (max-width: 680px) 
      display: none
      p
        margin-left: 29px
        font-size: 9px
        line-height: 42px
        letter-spacing: -.3px
      p > span
        display: none
  p
    font-family: Arial,Helvetica,sans-serif
    color: #b4b4b4
    font-size: 12px
    line-height: 95px
    margin-left: 6px
    float: left
  .links
    position: relative
    float: right
    a
      display: block
      width: 100%
      height: 100%
    & > div
      cursor: pointer
      float: left
      width: 90px
      height: 90px
      background-position: center
      background-repeat: no-repeat
      opacity: .85
      transition: opacity .3s ease
      @media (max-width: 680px) 
        width: 45px
        height: 42px
        background-size: 52%
    & > div:hover 
      opacity: 1
  .fb
    width: 52px
    height: 49px
    background-image: url('/src/images/fb.jpg')
    background-size: 52px 49px
    background-color: #326aa2
  .vk
    width: 52px
    height: 49px
    background-image: url('/src/images/vk.jpg')
    background-size: 52px 49px
    background-color: #3479a8
  .mir
    width: 52px
    height: 49px
    background-image: url('/src/images/mir.jpg')
    background-size: 52px 49px
    background-color: #edbf11
  .yt
    width: 52px
    height: 49px
    background-image: url('/src/images/yt.jpg')
    background-size: 52px 49px
    background-color: #c4070e
  
  @media (max-width: 1400px) and (min-width:1024px)
    height: 60px
    .logo
      width: 50px
      height: 60px
      background-size: 50px 60px
      margin-left: 17px
    p
      font-size: 13px
      line-height: 63px
      margin-left: 2px
    .fb
      width: 31px
      height: 32px
      background-size: 31px 32px
      background-color: #326aa2
    .vk
      width: 31px
      height: 32px
      background-size: 31px 32px
      background-color: #3479a8

    .mir
      width: 31px
      height: 32px
      background-size: 31px 32px
      background-color: #edbf11

    .yt
      width: 31px
      height: 32px
      background-size: 31px 32px
      background-color: #c4070e

    .links>div
      width: 60px
      height: 60px


  @media (max-width: 1024px) and (min-width: 680px)
    height: 50px
    .logo
      width: 50px
      height: 60px
      background-size: 50px 60px
      height: 50px
      width: 42px
      background-size: 100% 100%
      margin-left: 17px

    p
      font-size: 12px
      line-height: 54px
      margin-left: 4px

    .fb
      width: 31px
      height: 32px
      background-size: 31px 32px

    .vk
      width: 31px
      height: 32px
      background-size: 31px 32px

    .mir
      width: 31px
      height: 32px
      background-size: 31px 32px

    .yt
      width: 31px
      height: 32px
      background-size: 31px 32px

    .links>div
      width: 50px
      height: 50px
  @media (max-width: 680px) 
    height: 42px
    p 
      margin-left: 29px
      font-size: 9px
      line-height: 42px
      letter-spacing: -.3px
    .links>div 
      width: 45px
      height: 42px
      -moz-background-size: 52%
      -o-background-size: 52%
      background-size: 52%

