.gallery_block
  position: relative
  overflow: hidden
  width: 100%
  height: 706px 
  background: #ffffff
  @media (max-width: 1580px)
    height: 710px
  @media (max-width: 1480px)
    height: 600px
  @media (max-width: 1280px)
    height: 510px
  @media (max-width: 1120px)
    height: 470px
  @media (max-width: 980px)
    height: 370px
  @media (max-width: 780px)
    height: 300px
 
  @media (max-width: 680px)
    height: 1250px
  @media (max-width: 580px)
    height: 1100px
  @media (max-width: 480px)
    height: 900px
  .description_block
    width: 625px
    height: 637px
    background-image: url(/src/images/photos/1.png)
    background-size: 625px 637px
    width: 50%
    height: 100%
    background-size: cover
    position: relative
    float: left
    font-size: 1.5rem
    .text_block
      position: relative
      margin: 6.21rem 0 0 2.29rem
      .button
        margin: .86rem 0 0 -.18rem
      span
        display: block
        font-family: GothamPro-Bold
        color: #000
        font-size: .98rem
        line-height: 1.25rem
      span.hashtag
        color: #f73934
        font-size: 1rem
        font-family: GothamPro
        background-color: white
        display: inline-block
        padding: 0 .18rem
        margin-left: -.18rem
    @media (max-width: 680px)
      width: 640px
      height: 637px
      background-image: url(/src/images/photos/1-mobile.png)
      background-size: 640px 637px
      width: 100%
      height: 50%
      background-size: 100% 100%
      .text_block
        margin: 18.8rem 0 0 4.4rem
        .button
          position: relative
          bottom: 3.6rem
          margin: 0 0 0 50%
        span
          font-size: 2.55rem
          line-height: 3.45rem
        span.hashtag
          font-size: 2.6rem
          padding: 0 .7rem
          margin-left: -.58rem
          letter-spacing: -.3px
          color: #d62b2b
        &:after
          content: ""
          position: absolute
          top: -15.4rem
          left: -1.6rem
          width: 267px
          height: 227px
          background-image: url(/src/images/social.png)
          background-size: 267px 227px
          width: 17rem
          height: 17rem
          background-size: contain
          background-repeat: no-repeat
          
        
  .last_photos
    position: absolute
    width: 50%
    height: 100%
    left: 50%
    padding: 10px
    box-sizing: border-box
    @media (max-width: 680px)
      top: 50%
      left: 0
      padding: 13px
      width: 100%
      height: 50%
  .last_photos__item
    position: relative
    float: left
    width: 33.3%
    height: 33.3%
    cursor: pointer
  .image
    position: absolute
    top: 3px
    left: 3px
    right: 3px
    bottom: 3px
    background-size: cover
    background-position: center
