.header_container
  position: absolute
  top: 0
  left: 0
  width: 150px
  height: 100%
  background: #f6f6f6
  @media (max-width: 1024px) and (min-width:680px)
    width: 110px
  @media (max-width: 680px)
    position: fixed
    width: 100%
    height: 80px
    z-index: 15
    top: 0
    transition: transform .4s ease
.header
  color: rgb(116, 49, 49)
