.slide_block 
  .icons_block
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    position: relative
    width: 17.8rem
    height: 6rem
    margin: 46px 0 0 45px
    @media (max-width: 1024px) and (min-width:680px)
      margin-top: 1.64rem
    @media (max-width: 680px)
      justify-content: space-around
      width: 37rem
      margin: 145px auto 0
  .icon
    text-align: center
    width: 4.1rem
    height: 100%
    @media (max-width: 680px)
      width: 13.3rem
    p
      color: #45370a
      position: relative
      text-align: center
      padding-top: 17px
      font-size: 17px
      line-height: 21px

      @media (max-width: 1400px) and (min-width:1024px)
        padding-top: 10px
        font-size: 14px
        line-height: 17px

      @media (max-width: 1024px) and (min-width:680px)
        padding-top: .36rem
        font-size: .5rem
        line-height: .6rem
      @media (max-width: 680px)
        padding-top: 11px
        font-size: 13px
        line-height: 14px
        letter-spacing: -.1px
    
  .icon_wrap
    width: 2.75rem
    height: 2.75rem
    margin: 0 auto
    overflow: hidden
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    @media (max-width: 680px)
      width: 74px
      height: 74px
      margin: 0 auto
      overflow: hidden

  .icon_wrap-camera
    background-image: url('/src/images/main/camera.png')
  .icon_wrap-heart
    background-image: url('/src/images/main/heart.png')
  .icon_wrap-prize
    background-image: url('/src/images/main/prize.png')