.layz_block 
  position: relative
  overflow: hidden
  width: 100%
  height: 706px
  @media (max-width: 1580px)
    height: 700px
  @media (max-width: 1280px)
    height: 600px
  @media (max-width: 1120px)
    height: 480px
  @media (max-width: 980px)
    height: 380px
  @media (max-width: 780px)
    height: 340px
 
  @media (max-width: 680px)
    height: 1270px
  @media (max-width: 580px)
    height: 1070px
  @media (max-width: 480px)
    height: 800px
  .image_block
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 50%
    overflow: hidden

    .image
      position: absolute
      width: 708px
      height: 726px
      background-image: url(/src/images/photos/5.jpg)
      background-size: 708px 726px
      background-size: cover
      width: auto
      height: auto
      top: 0
      left: 0
      bottom: 0
      right: 0
    @media (max-width: 680px)
      top: 50%
      width: 100%
      height: 50%
      overflow: visible
      .image
        top: -5%
        left: 0
        right: 0
        bottom: 0
        background-image: url(/src/images/photos/5-mobile.jpg)
        background-size: 640px 690px
        width: auto
        height: auto
        background-size: cover
  .description_block
    position: relative
    color: #301f20
    width: 625px
    height: 637px
    background-image: url(/src/images/photos/6.png)
    background-size: 625px 637px
    width: 50%
    height: 100%
    background-size: cover
    float: right
    z-index: 10
    &:after
      content: ""
      position: absolute
      width: 47px
      height: 108px
      background-image: url(/src/images/yellow-triangle.png)
      background-size: 47px 108px
      width: 1.66rem
      height: 3.86rem
      background-size: 100% 100%
      left: -1.6rem
      top: 50%
      margin-top: -1.6rem
    span
      display: block
      font-family: GothamPro-Bold
      font-size: 1.5rem
      text-align: center
      margin: 10.71rem auto 0
    .button
      margin: .71rem auto 0
    @media (max-width: 680px)
      width: 640px
      height: 640px
      background-image: url(/src/images/photos/6-mobile.png)
      background-size: 640px 640px
      width: 100%
      height: 50%
      background-size: 100% 100%
      border-top: 5px solid #ffffff
      &:after
        display: none
      span
        position: relative
        top: 62.2%
        left: 50%
        margin: 0 0 0 -29%
        width: 60%
        font-size: 3.7rem
      .button
        position: relative
        top: 65%
        left: 50%
        margin-left: -6.5rem