.main_container-overflow  
  position: absolute
  top: 0
  left: 150px
  right: 0
  height: 100%
  @media (max-width: 1024px) and (min-width:680px)
    left: 110px
  @media (max-width: 680px) 
    position: relative
    top: 80px
    left: 0
    height: auto
.main_container
  position: relative
  width: 100%
  height: 100%
  overflow: auto
  @media (max-width: 680px)
    overflow: visible  
.main_page
  position: absolute
  top: 0
  left: 0
  width: 100%

  overflow: auto
  opacity: 1
  transition: opacity 1s ease
  background-color: #ffda2d

.main_page-overflow
  position: relative
  width: 100%
  min-height: 100%
  overflow: hidden

.main_page__content
  position: relative
  width: 100%
  overflow: hidden
  padding-bottom: 90px
  
  @media (max-width: 1400px) and (min-width:1024px)
    padding-bottom: 60px
  @media (max-width: 1024px) and (min-width: 680px)
    padding-bottom: 50px
  @media (max-width: 680px)
    padding-bottom: 42px

.main__desc
  span
    position: relative
    display: block
    font-family: GothamPro-Medium
    color: #f73934
    margin-left: 51px
    font-size: 2.18rem
    letter-spacing: 3px
  @media (max-width: 680px)
    position: absolute
    top: 20px
    left: 50%
    margin-left: -62px
    width: 136px
    span
      margin-left: 0
      font-size: 44px
      letter-spacing: 1px
      color: #d62b2b

    span.main__desc-second, span.main__desc-last
      font-size: 25px
      line-height: 24px

    span.main__desc-last
      line-height: 29px
      span
        font-size: 37px
span.main__desc-first
span.main__desc-second
  font-family: GothamPro-Light
  font-size: 1.18rem
  line-height: .89rem
span.main__desc-last
  line-height: 1.95rem
  font-family: GothamPro-Light
  font-size: 1.18rem
  line-height: 1.89rem
  span
    display: inline
    margin-left: 0
    font-family: GothamPro-Black
    font-size: 1.79rem