.menu 
  .menu_wrap
    @media (max-width: 680px)
      width: 100%
      height: 80px
      overflow: hidden
      transition: height .2s linear .5s
  .item
    position: relative
    width: 100%
    height: 118px
    cursor: pointer

    @media (max-width: 680px)
      &
        height: 80px
        opacity: 1
        background: #f6f6f6
        transform: translate3d(0,0,0)
        transition: transform .5s ease,opacity .5s ease

      &:not(:first-child)
        clear: both
        line-height: 80px
        border-top: 1px solid rgba(155,155,155,.18)
    .icon
      position: absolute
      width: 100%!important
      height: auto!important
      background-repeat: no-repeat
      background-position: center
      top: 0
      bottom: 20px

      &:after
        content: ""
        position: absolute
        top: 0
        width: 100%!important
        height: 100%!important
        background-repeat: no-repeat
        background-position: center
        opacity: 0
        transition: opacity 1s ease

      @media (max-width: 680px)
        &
          height: 80px!important

        &:after
          display: none

    p
      position: relative
      text-align: center
      padding-top: 85px
      font-size: 14px
      color: #555

      @media (max-width: 680px)
        padding-top: 0

  .item:before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: #ffffff
    box-sizing: border-box
    border-top: 1px solid #ddd
    border-bottom: 1px solid #ddd
    opacity: 0
    transition: opacity 1s ease

  .item.show_animate:before
    opacity: 1

  .item.show_animate .icon:after
    opacity: 1

  .item:hover:before
    opacity: 1

  .index
    height: 204px

  .index 
    p
      font-family: GothamPro-Medium
      color: #f73934
      padding-top: 127px
      font-size: 16px

    .icon
      bottom: 68px
      width: 97px
      height: 85px
      background-image: url('/src/images/logo.png')
      background-size: 97px 85px

    .mobile_menu
      display: none

    &:before
      display: none

    @media (max-width: 680px)
      width: 100%
      height: 80px
      float: right
      
      p
        position: absolute
        left: 50%
        margin-left: -59px
        padding-top: 30px
        padding-left: 0
        width: 118px
        font-size: 18px
        letter-spacing: 1px
      
      .icon
        top: 14px
        left: 19px
        width: 57px!important
        height: 50px!important
        background-size: 57px 50px
        background-position: center

      .mobile_menu
        display: block
        position: absolute
        top: 27px
        right: 25px
        width: 32.5px
        height: 25.5px
      
      .menu_line
        width: 32px
        height: 5px
        background: #fc202e
        position: absolute
        left: 50%
        margin-left: -16px
        opacity: 1
        transform-origin: left center
        transition: all .2s ease-in-out

      .line2
        top: 10px
        transform-origin: center center

      .line3
        top: 21px
      

  .gallery
    @media (max-width: 680px)
      opacity: 0
      transform: translate3d(-50px,0,0)

    .icon
      width: 48px
      height: 48px
      background-image:  url('/src/images/insta.png')
      background-size: 48px 48px

      @media (max-width: 680px)
        background-position: 28px center
        background-size: 40px 40px

  .about
    @media (max-width: 680px)
      opacity: 0
      transform: translate3d(50px,0,0)


    .icon
      bottom: 28px
      width: 49px
      height: 59px
      background-image: url('/src/images/prize.png')
      background-size: 49px 59px

      @media (max-width: 680px)
        background-position: 28px center
        background-size: 40px 40px
  
  .lays
    @media (max-width: 680px)
      opacity: 0
      transform: translate3d(-50px,0,0)

    .icon
      width: 51px
      height: 49px
      background-image: url('/src/images/map.png')
      background-size: 51px 49px

      @media (max-width: 680px)
        background-position: 28px center
        background-size: 40px 40px
  


  
  
  
// .menu
//   display: flex
//   flex-direction: column
//   align-items: center
//   justify-content: center
// .menu__item
//   position: relative
//   height: 118px
//   text-align: center
//   cursor: pointer
//   a
//     font-size: 14px
//     color: #555
//     text-decoration: none 
//   &:first-child
//     a
//       font-family: 'GothamPro-Medium'
//       color: #f73934
//       padding-top: 127px
//       font-size: 16px
//     height: 204px
//   &:hover:before
//     opacity: 1
//   &:before
//     content: ""
//     position: absolute
//     top: 0
//     left: 0
//     width: 100%
//     height: 100%
//     background: #fff
//     box-sizing: border-box
//     border-top: 1px solid #ddd
//     border-bottom: 1px solid #ddd
//     opacity: 0
//     transition: opacity 1s ease
// .menu__item__icon
//   background-repeat: no-repeat
//   background-position: center
//   top: 0
//   margin: 0 auto

// .menu__item__icon-logo
//   width: 97px
//   height: 85px
//   background-size: 97px 85px
//   background-image: url('/src/images/logo.png')

// .menu__item__icon-galery
//   width: 46px
//   height: 46px
//   background-size: 46px 46px
//   background-image: url('/src/images/insta.png')

// .menu__item__icon-about
//   width: 47px
//   height: 57px
//   background-size: 47px 57px
//   background-image: url('/src/images/prize.png')

// .menu__item__icon-map
//   width: 49px
//   height: 47px
//   background-size: 49px 47px
//   background-image: url('/src/images/map.png')