.slide_block
  position: relative
  overflow: hidden
  width: 100%
  height: 625px
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  background-image: url('/src/images/main/top_bg.jpg')
  @media (max-width: 1580px)
    height: 625px
  @media (max-width: 1480px)
    height: 600px
  @media (max-width: 1280px)
    height: 510px
  @media (max-width: 1120px)
    height: 440px
  @media (max-width: 980px)
    height: 400px
  @media (max-width: 780px)
    height: 300px
 
  @media (max-width: 680px)
    height: 1100px
    background-image: url('/src/images/main/top_bg-mobile.jpg')
    background-size: 640px 1114px
    background-size: 100% 100%!important
  @media (max-width: 480px)
    height: 700px
