.text-promo
  color: #f73934
.button
  position: relative
  width: 5.5rem
  height: 1.58rem
  background-color: rgba(143,12,0,.1)
  text-align: center
  font-size: .57rem
  color: white
  letter-spacing: 1px
  line-height: 1.79rem
  cursor: pointer
  border: 2px solid white
  text-transform: uppercase
  &:before
    content: ''
    position: absolute
    opacity: 0
    width: 100%
    height: 100%
    left: 0
    top: 0
    background: #000
  
    transition: opacity .5s ease
  &:hover:before
    opacity: .1
  
  @media (max-width: 1024px) and (min-width:680px)
    .button
      border-width: 1.5px

  @media (max-width: 680px)
    width: 14rem
    height: 3.9rem
    font-size: 1.4rem
    letter-spacing: .4px
    line-height: 3.9rem
    background-color: rgba(168,5,0,.1)