/* * {
  font-family: GothamPro, sans-serif;  
} */

@font-face {
    font-family: 'GothamPro';
    src: url('GothaProReg.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Italic';
    src: url('GothaProIta.otf');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'GothamPro-Black';
    src: url('GothaProBla.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GothamPro-Bold';
    src: url('GothaProBol.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('GothaProBolIta.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'GothamPro-Light';
    src: url('GothaProLig.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('GothaProLigIta.otf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'GothamPro-Medium';
    src: url('GothaProMed.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('GothaProMedIta.otf');
    font-weight: 300;
    font-style: italic;
}